  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-login">
        <div class="panel-heading">
          <h2>Edit winning rule</h2>
           <p>A winning rule is some criteria meeting which the gamers for your app are awarded coupons.</p>
           <%= resource_error_messages!(@winning_rule) %>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <%= render partial: 'form', locals: { url: gaming_vendor_winning_rule_path(@winning_rule), method: :patch } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
