<footer>
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-unstyled">
        <li class="pull-right"><a href="#top">Back to top</a></li>
        <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">About Us</a></li>
        <li><a href="http://feeds.feedburner.com/bootswatch">Privacy Policy</a></li>
        <li><a href="https://twitter.com/bootswatch">Terms &amp; Conditions</a></li>
        <li><a href="https://github.com/thomaspark/bootswatch/">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>
